<div class="w-full min-h-screen bg-slate-50">


  <div class="container mx-auto ">
    <div class="lg:flex lg:justify-center my-5 h-32">
      <div class="lg:w-1/6">
        <img src="assets/ccis.png" alt="Logo" class="h-full">
      </div>
      <div class="lg:w-5/6">
        <nav class="lg:flex h-full justify-end">
          <p class="text-2xl mt-16">DO YOU HAVE DIABETES</p>
        </nav>
      </div>
    </div>
    <!-- Horizental line -->
    <div class="h-1 bg-gray-300 w-full"></div>
    <!-- center big text -->
    <div>
      <p class="text-center text-4xl font-bold my-4">
        <span>System that use machine learning algorirthms</span>
        <br>
        <span>to predict if you have diabete or not</span>
      </p>
    </div>

    <app-diabetes></app-diabetes>

  </div>
</div>
